{% load static %}
<!DOCTYPE html>
<html>
	<!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">

    	<title>ABOUT</title>
	</head>
	<body style="color: white">
		ABOUT : WEB PORTAL TO DISPLAY OVERLAY LAYERS AND BASE LAYERS
		<br>
		DEVELOPER: Deepankar Accharya Prajjwal Singh
	</body>

</html>