
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>RSAC HOME APP</title>
  </head>

  <!-- some styling for map  div-->
  <style type="text/css">
      html, body, #map
      {
        margin: 0px;
        height: 100%;
        width: 100%;
      }
  </style>
  

  <body>
    
    <div id="map"></div>
  
    <!-- calling required scripts : -->
    <!-- call the following scripts as it is -->
    <!-- for customization... add css and js above or below this block -->

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <script type="text/javascript" src="{% static 'js/leaflet_popup_getFeatInfo_extension.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/handle_map.js' %}"></script>
  
  </body>
</html>